* {
  font-family: 'Varela', sans-serif;
}

body {
  margin: 0;
  z-index: -1;
  background-image: url('https://github.com/tylerhuyser/profesh/blob/master/profesh/Icons/Images/background_image.jpeg?raw=true');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
