.opportunity-status {
  font: white;

  min-width: 30%;
  padding: 5px 10px;
  
  border-radius: 12px;
  border: solid red 2px;
}

.action-item {
  font: white;

  min-width: 30%;
  padding: 5px 10px;

  border-radius: 12px;
  border: solid red 2px;
  

}

