.tracked-job-card {
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0px 8px 10px darkgray;

  padding: 5px;
  margin: 10px 20px;
}

.company-information-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: 10px;
}

.company-name {
  text-align: left;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;

  width: 50%;
  margin: 0px 0px 0px 10px;
}

.job-information-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}