.opportunity-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 65vw;
  min-height: 100vh;
  max-height: 200vh;

  background-color: #A28497;
  background-image: linear-gradient(rgba(162, 132, 151, 0.95),rgba(162, 132, 151, 0.95)), url('https://github.com/tylerhuyser/profesh/blob/master/profesh/Icons/Images/Black&WhiteBackgroundImage.png?raw=true');
  background-size: cover;
  background-attachment: fixed;
  color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;

  transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
}

.opportunity-form-container.hidden {
  transform: translate3d(-100vw, 0, 0);
}

.opportunity-form-container.visible {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.opportunity-form-buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.opportunity-form-copy {
  width: 200px;
  text-align: left;
}
 
#opportunity-form-title {
  margin: 10px 25px 0px 25px;
  font-weight: bolder;
}

.opportunity-form-input-label, .opportunity-form-select-label {
  margin: 9px 25px;
  font-size: 12px;
}

.opportunity-form-input {
  margin: 0px 25px;
  height: 15px;
  font-size: 10px;
  }

.opportunity-form-select {
  width: 208px;
  margin: 0px 25px;
  height: 21px;
  font-size: 10px;
}

.opportunity-form-button {
  height: 30px;
  width: 75px;

  border: 5px solid #F7116B;
  border-radius: 18px;
  background: white;

  color: #F7116B;
  text-align: center;
  font-size: 12px;
  
  margin: 12px 25px;
}