#addOpportunityFormContainer {
  width: 65vw;
  min-height: 100vh;
  max-height: 200vh;
  background-color: #2C404B;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
 
#addOpportunityFormContainer.hidden {
  transform: translate3d(-100vw, 0, 0);
}
 
#addOpportunityFormContainer.visible {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.invalid {
  border: 5px solid red;
}

#addOpportunityFormContainer label {
  width: 200px;
  text-align: left;
  margin: 9px 25px;
  font-size: 12px;
}

#addOpportunityFormContainer input {
  text-align: left;
  width: 200px;
  margin: 0px 25px;
  height: 15px;
  font-size: 10px;
  }

#addOpportunityFormContainer select {
  text-align: left;
  width: 208px;
  margin: 0px 25px;
  height: 21px;
  font-size: 10px;
}

#addOpportunityFormContainer h2 {
  text-align: left;
  width: 200px;
  margin: 10px 25px 0px 25px;
  font-weight: bolder;
}

.addOpportunityFormButton {

  width: 75px;
  text-align: center;
  border: 5px solid #F7116B;
  border-radius: 18px;
  background: white;
  color: #F7116B;
  font-size: 12px;
  
  margin: 12px 25px;
  height: 30px;
  flex-grow: 1;
  
}

@media only screen and (min-width: 600px) {
  #addOpportunityFormContainer {
    width: 40vw;
    height: 100vh;
    overflow: scroll;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #addOpportunityFormContainer label {
    text-align: left;
    margin: 15px 25px;
    font-size: 16px;
  }
  
  #addOpportunityFormContainer input {
    text-align: left;
    width: 200px;
    margin: 0px 25px;
    height: 20px;
    font-size: 16px;
    }
  
  #addOpportunityFormContainer select {
    text-align: left;
    width: 208px;
    margin: 0px 25px;
    height: 20px;
    font-size: 16px;
  }
  
  #addOpportunityFormContainer h2 {
    text-align: left;
    width: 200px;
    margin: 10px 25px 10px 25px;
    font-weight: bolder;
  }

  .addOpportunityButton {
    margin: 25px 25px;
  }

}