.tracked-job-card, .new-job-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: white;
  box-shadow: 0px 8px 10px darkgray;

  width: 90vw;
  /* height: auto; */
  padding: 10px;
  margin: 10px 20px;
}

.company-information-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  margin: 10px 0px;
}

.company-name {
  text-align: left;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;

  width: 50%;
  margin: 0px 0px 0px 10px;

  font-size: clamp(12px, 1.5em, 20px);
}

.company-logo {
  width: 20%;
  object-fit: cover;
}

/*  */

.job-information-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.job-title {
  font-size: clamp(12px, 1.5em, 20px);
  line-height: 2em;
  margin: 10px 0px 5px 0px;

  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.job-description, .abbreviated-job-description {
  text-align: left;
  /* font-size: 10px; */
  /* word-wrap: none; */
  text-overflow: ellipsis;

  font-size: clamp(12px, 1em, 16px);
  line-height: 1.7em;
}

/*  */

.expanded-container-desktop {
  display: none;
}

.expanded-container {
  display: flex;
  flex-direction: column;
  font-size: clamp(12px, 1em, 16px);
}

.expanded-label {
  font-size: clamp(12px, 1em, 16px);
  text-decoration: underline;
  margin-top: 10px;
}

.expanded-copy {
  font-size: clamp(12px, 1em, 16px);
  margin-top: 5px;
}

.expanded-job-card-buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.expanded-job-card-button {
  width: 30%;
  padding: 10px;
  margin-top: 10px;

  text-align: center;
  background: white;
  border: 5px solid #F7116B;
  border-radius: 18px;
}


/* Opportunity Status */

.tracker-container {
  display:  flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px 15px 0px;

  font-size: clamp(12px, 1em, 16px)
}

.opportunity-status-container {
  font-size: 12px;

  width: 40%;
  padding: 5px 10px;
  
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.applied {
  color: #2D7DD2;
  border: 2px solid #2D7DD2;
}

.phone-screening-Pending-Decision, .interviewed-Pending-Decision {
  color: #9AA0A8;
  border: 2px solid #9AA0A8;
}

.interview, .phone-Screening {
  color: #A30015;
  border: 2px solid #A30015;
}

.case-Study-Exercise {
  color: #A30015;
  border: 2px solid #A30015;
}

.offer {
  color: green;
  border: 2px solid green;
}

.negotation {
  color :#97CC04;
  border: 2px solid #97CC04;
}


/* Action Items */

.action-item-container {
  color: white;
  font-size: 12px;

  width: 40%;
  padding: 5px 10px;

  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

.prepare-Resume {
  background-color: #2D7DD2;
  border: solid #2D7DD2 2px;
}

.write-Cover-Letter {
  background-color: #2D7DD2;
  border: solid #2D7DD2 2px;
}

.submit-Application {
  background-color: #1C3144;
  border: solid #1C3144 2px;
}

.follow-Up-E-mail {
  background-color: #9AA0A8;
  border: solid #9AA0A8 2px;
}

.phone-Screen-Prep, .interview-Prep {
  background-color: #A30015 ;
  border: solid #A30015 2px;
}

.case-Study-Exercise, .complete-Case-Study-Project {
  background-color: #A30015;
  border: solid #A30015 2px;
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {
  .company-logo {
    width: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .tracked-job-card, .new-job-card {
    width: clamp(500px, 60vw, 750px);
    padding: 25px;
  }

  .company-logo {
    width: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .tracked-job-card, .new-job-card {
    padding: 25px;
  }

  .company-name {
    font-size: clamp(40px, 2em, 54px);
    margin: 0px 0px 0px 25px;
  }

  .job-title {
    font-size: clamp(24px, 2em, 36px);
    margin: 25px 0px 20px 0px;
  }

  .job-description, .opportunity-status-container, .action-item-container, .expanded-label, .expanded-copy, .expanded-job-card-button {
    font-size: clamp(16px, 1.5em, 24px);
  }

  .opportunity-status-container, .action-item-container {
    width: 40%;
  }
}

@media only screen and (min-width: 1600px) {

  .tracked-job-card, .new-job-card {
    width: 25%;
    height: 30vh;
    margin: 20px;
    position: relative;

    transition: all 0.2s ease-in-out;
  }

  .tracked-job-card:not(.expanded):hover, .new-job-card:not(.expanded):hover {
    transform: scale(1.05);
  }

  .tracked-job-card:nth-of-type(3n+2) .expanded-container-desktop, 
  .new-job-card:nth-of-type(3n+2) .expanded-container-desktop {
    left: calc(0px - 25px - 25vw - 20px - 20px - 25px - 25px);
  }

  .tracked-job-card:nth-of-type(3n+3) .expanded-container-desktop, 
  .new-job-card:nth-of-type(3n+3) .expanded-container-desktop {
    left: calc(0px - 25px - 50vw - 20px - 20px - 25px - 25px - 20px - 20px - 25px - 25px)
  }

  .tracked-job-card:nth-of-type(3n+4) .expanded-container-desktop, 
  .new-job-card:nth-of-type(3n+4) .expanded-container-desktop {
    left: calc(0px - 25px)
  }

  .new-job-card:nth-of-type(3n+2):last-child,
  .tracked-job-card:nth-of-type(3n+2):last-child {
    margin-right: calc(20px + 20px + 20px + 25px + 25px + 25%)
  }

  .new-job-card:nth-of-type(3n+4):last-child,
  .tracked-job-card:nth-of-type(3n+4):last-child  {
    margin-right: calc(20px + 25px + 25% + 25px + 20px + 20px + 25px + 25% + 25px + 20px + 20px)
  }

  .expanded {
    width: calc(25% - 10px);
    height: calc(30vh - 10px);
    margin-bottom: calc(30vh + 20px + 20px + 20px + 25px + 25px + 10px);
    border: 5px solid #2c404b;
  }

  .expanded::after { 
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: relative;
    bottom: calc(-1 * (20px + 20px + 25px));
    /* bottom: calc(0); */
    left: calc(50% - 25px);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #2c404b;
  }

  .new-job-card.expanded
  .job-information-container {
    flex-grow: 1;
  }

  .tracked-job-card.expanded
  .tracker-container {
    align-items: flex-start;
    flex-grow: 1;
  }

  .expanded
  .job-title {
    white-space: normal;
  }

  .expanded
  .expanded-job-card-buttons-container {
    width: 100%;
  }
  .expanded
  .expanded-job-card-buttons-container
  .expanded-job-card-button {
    width: 40%;
  }


  .expanded-container {
    display: none;
  }

  .expanded-container-desktop {
    transition: all 0.2s ease-in-out;

    background-color: white;
    height: calc(30vh - 10px);
    width: calc(300% + 20px + 20px + 20px + 20px + 10px + 10px - 50px);
    margin: 20px;
    margin-bottom: 20px;
    padding: 25px ;

    position: absolute;
    left: -25px;
    bottom: calc(-20px - 20px - 20px - 30vh - 25px - 25px );

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.5em;

    border: 5px solid #2c404b;
    box-shadow: 0px 8px 10px darkgray;
    z-index: 3;
  }

  .expanded-job-description-container {
    display: flex;
    flex-direction: column;

    height: calc(100% - 50px);
    width: calc(50vw + 95px);
  }

  .expanded-job-description-title {
    font-size: clamp(16px, 1.5em, 24px);
    font-weight: 900;

    margin-bottom: 10px;
  }

  .job-description {
    display: none;
  }

  .company-information-container, .job-information-container {
    overflow: visible;
  }

  .abbreviated-job-description {
    overflow: auto;
  }

  .job-description-desktop {
    height: calc(15.3em);
    width: calc(100%);

    font-size: clamp(12px, 1em, 16px);
    text-align: left;
    line-height: 1.7em;


    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: auto;

  }

  .additional-job-details-expanded-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: calc(25% + 25px + 25px + 20px + 20px + 15px);
    height: calc(100% - 50px);

    border-left: 5px solid red;
  }
}