.jobs-container {
  position: absolute;
  top: 125px;

  width: 100%;
  padding-bottom: 125px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 
 
@media only screen and (min-width: 375px) {
  .jobs-container {
    top: 100px;
  }
} 

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  .jobs-container {
    top: 100px;
    padding-bottom: 50px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
  .jobs-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}