.search-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 125px;
  width: 100%;
  background-color: #2c404b;
  border-bottom: 0px -1px 10px darkgray;
  box-shadow: 0px -1px 10px darkgray;

  position: fixed;
  top: 0;
  z-index: 2
}

.hidden {
  display: none;
}

.fa-solid {
  height: 75px;
  width: 50px;
}

.search-bar-logo {
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.search-bar-input {
  width: 50%;
  height: 75px;
}